<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FindMyWaifu.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FindMyWaifu.My.MySettings.waifudataConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\waifudata.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <FindMyWaifu.My.MySettings>
            <setting name="NameRemember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bahasa" serializeAs="String">
                <value>indonesia</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Chibi" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="backup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load" serializeAs="String">
                <value>True</value>
            </setting>
        </FindMyWaifu.My.MySettings>
    </userSettings>
</configuration>
